!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OurBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__title
        Happy Wedding!! Megumi &amp; Takashi
    .contents
      .video1__box
        .video1__title
          本編動画
        .hako
      .video1
        = video_tag("/assets/videos/wedding.mp4", :controls => true, :loop => true, :width =>480, :height => 300)
      .video1__box
        .video1__title
          タイトル1
      .video2
        = video_tag("/assets/videos/honpen.mp4", :controls => true, :loop => true, :width =>360, :height => 220)
      .video1__box
        .video1__title
          タイトル2
      .video3
        = video_tag("/assets/videos/honpen.mp4", :controls => true, :loop => true, :width =>360, :height => 220)
      .video1__box
        .video1__title
          タイトル3
      .video4
        = video_tag("/assets/videos/honpen.mp4", :controls => true, :loop => true, :width =>360, :height => 220)
      .video1__box
        .video1__title
          タイトル4
      .video5
        = video_tag("/assets/videos/honpen.mp4", :controls => true, :loop => true, :width =>360, :height => 220)
      .video1__box
        .video1__title
          タイトル5
      .video6
        = video_tag("/assets/videos/honpen.mp4", :controls => true, :loop => true, :width =>360, :height => 220)
      = yield
    %footer.footer
      Copyright ©  M.M 2020~
    
    .cp_cont
      .cp_offcm01
        %input#cp_toggle01{:type => "checkbox"}/
        %label{:for => "cp_toggle01"}
          %span
        .cp_menu
          %ul
            %li
              %a{:href => "#"} 動画の追加するには
            %li
              %a{:href => "#"} 連絡先
            %li
              %a{:href => "#"} 070-000000000
            %li
              %a{:href => "#"} 我々について
            %li
              %a{:href => "#"} 20_holiday
      .cp_contents
        %h1 contents

    %script{:src => "main.js"}
